.user-todos {

}

.user-todo {
    padding: 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 3% 92% 5%;
    background-color: red;
}

.completed {
    background-color: green;
}